

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html *
{
    font-family: 'Varela Round', sans-serif;
}


.yellowbutton {
	background-color: #FFD41C;
	border: none;
	color: #252525;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
    border-radius: 10px;
    width: 100%;
  }

  .bluebutton {
	background-color: #35408E;
	border: none;
	color: #252525;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
    border-radius: 10px;
	font-size: 16px;
    width: 100%;
    
  }

  .redbutton {
	background-color: #FB8787;
	border: none;
	color: #252525;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
    border-radius: 10px;
	font-size: 16px;
    width: 100%;
  }

  .greenbutton {
	background-color: #B0FC74;
	border: none;
	color: #252525;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
    border-radius: 10px;
    width: 100%;
  }

  .inputtext {
	border: 2px;
	width: 100%;
	padding: 10px;
    border-radius: 10px;
	outline: none;
	background-color: #efebeb;
	color: #35408E;
}

.inputtext2 {
	border: 2px solid #d4d4d4;
	width: 100%;
	padding: 10px;
    border-radius: 10px;
	outline: none;
	background-color: #ffffff;
	color: #35408E;
}




.ayellow {
    color: #FFD41C;
    text-decoration: none;
}
.ayellow:hover {
    color: #252525;
    text-decoration: none;
}

.ablue {
    color: #4D7AF4;
    text-decoration: none;
}

.ablue:hover {
    color: #252525;
    text-decoration: none;
}


.textblue {
    color: #35408E;
}

.textwhite {
    color: white;
}


.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 20px auto;
 }

 .success {
    background: #e1f2de;
    color: #49a942;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 20px auto;
 }


 .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: solid #d4d4d4 1px;
  }
  
  .sidebar a {
    display: block;
    color: #35408E;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: white;
    color: #35408E;
    border-width: 1px 2em 5px 0; /* top right bottom left */
    border-right: solid #35408E 6px;
   
  }
  
  .sidebar a:hover:not(.active) {
    background-color: white;
    color: #ffcc00;
  }
  



  
  div.content {
    margin-top: 75px;
    margin-left: 200px;
    padding: 1px 16px;
    
  }
  
  .bluetext{
    color: #4D7AF4;
  }
  

  .divbg{
    background-color: #f3d5d5;
    border-radius: 5px;
  }


  .gray{
    color: #D9D9D9;
  }


  .button1 {
    background-color: #4C79F4;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
      border-radius: 10px;
    font-size: 16px;
      width: 100%;
      
    }


    .anav1{
      color: #262626;
      text-decoration: none;
    }

    .anav1:hover{
      color: #4C79F4;

    }